.d-flex.justify-content-between.mb-3
  %b Name
.d-flex.justify-content-between.mb-3
  %b Gender
.d-flex.justify-content-between.mb-3
  %b Age
.d-flex.justify-content-between.mb-3
  %b Location
.d-flex.justify-content-between.mb-3
  %b Joined
  = @user.created_time_formatted